version: '3.8'

services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${DATASOURCE_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_PASSWORD: ${DATASOURCE_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 5s
      retries: 10

  api:
    image: peaceoutommy/dma-api:main
    pull_policy: always
    depends_on:
      mysql:
        condition: service_healthy
    env_file:
      - .env.prod
    ports:
      - "8080:8080"

  client:
    image: peaceoutommy/dma-client:main
    pull_policy: always
    depends_on:
      - api
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=http://localhost:8080

volumes:
  mysql-data: